:root{
    --background-color: #f5eae3; 
    --letter-button: #ffffff;
    --color-boton: #03836b;
    --boton-hover: #004132;
    --color-precio: #008067;
    --color-nombre: #12181f;
    --color-perfume: #97999c;
    --color-texto: #797a83;
    --color-precio-sub: #898c95;
    --fuente1: 'Montserrat', sanserif;
    --fuente2: 'Fraunces', sanserif;
    --tamFuenteParrafo: 14px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*height: 100vh;
    width: 100vh;*/
    background-color: var(--background-color);
    /*font-family: var(--fuente2);*/
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--letter-button);
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    width: 600px;
    border-radius: 10px;
    display: flex;
}

.imagen{
    flex: 0 0 50%;
    position: relative;
}

.imagen img{
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contenido{
    flex: 1;
    padding: 35px 35px 25px 35px;
}

.contenido h4, p, p.subrayado, button{
    font-family: var(--fuente1);
}

.contenido h2, p.price{
    font-family: var(--fuente2);
}

.contenido h4, h2, p{
    margin-bottom: 20px;
}

.contenido h4{
    color: var(--color-perfume);
    letter-spacing: .3rem; 
    font-size: .7rem; 
}

.contenido h2{
    color: var(--color-nombre);
    font-size: 2.3rem;
    font-weight: 700;
    font-family: var(--fuente2);
    line-height: 2rem;
}

.contenido .text{
    color: var(--color-texto);
    font-size: var(--tamFuenteParrafo);
}

.contenido .price{
    color: var(--color-precio);
    font-size: 2rem;
    font-weight: 500;
}

.contenido .subrayado{
    color: var(--color-precio-sub);
    font-size: 1rem;
    margin-left: 20px;
}

.contenido button{
    background-color: var(--color-boton);
    color: var(--letter-button);
    justify-content: center;
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: 5px;
}

.contenido button:hover{
    cursor: pointer;
    background-color: var(--boton-hover);
}


@media only screen and (max-width: 620px) {

    .container{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .container .card{
        justify-content: center;
        width: 330px;
        height: 550px;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25;
    }

    .imagen{
        position: absolute;
    }

    .contenido{
        display: block;
        margin-top: 10rem;
        text-align: left;
    }

    .container .card img{
        width: 330px;
        height: 190px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .contenido h2{
        font-size: 30px;
    }

    .contenido p.text{
        font-size: 15px;
    }

    .contenido button{
        height: 2.5rem;
    }
}

