:root{
    --background-color: #f5eae3; 
    --letter-button: #ffffff;
    --color-boton: #03836b;
    --color-precio: #008067;
    --color-nombre: #12181f;
    --color-perfume: #97999c;
    --color-texto: #797a83;
    --color-precio-sub: #898c95;
    --fuente1: 'Montserrat', sanserif;
    --fuente2: 'Fraunces', sanserif;
    --tamFuenteParrafo: 14px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*height: 100vh;
    width: 100vh;*/
    background-color: var(--background-color);
    font-family: var(--fuente2);
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--letter-button);
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    width: 800px;
    border-radius: 4px;
    display: flex;
}

.imagen{
    flex: 0 0 50%;
    position: relative;
}

.imagen img{
    display: block;
    width: 100%;
}

.contenido{
    flex: 1;
    padding: 35px 35px 25px 35px;
}

/*.container .card img{
    width: 20rem;
    height: 30rem;
}*/

